@using VerificadorDeCartaoDeCredito.Models;
@model CartaoCredito
@{
    ViewBag.Title = "Verificador de Cartão de Crédito";
}

<h2>Verificador de Cartão de Crédito</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCartaoCredito" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.Numero)
        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control cartaoCredito", data_val_number="Campo deve conter somente números" })
        @Html.ValidationMessageFor(model => model.Numero)
    </div>
    <button type="submit" class="btn btn-default">Verificar</button>
}

@if (ViewBag.Resultado != null)
{
    <h2>@ViewBag.Resultado</h2>
}

@section Scripts
{
    <script>
        jQuery(function () { setMask() });

        function setMask() {
            jQuery(".cartaoCredito").mask('9999 9999 9999 9999');
        }

        $('form[name="formCartaoCredito"]').submit(function () {
            $("#Numero").unmask();
        });
    </script>
}